<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>me.fakechris.smzdm</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>CD7C4E09-C39D-4D68-8786-24B497B28E41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5EC1680E-F974-4D27-84A5-FA2307574844</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Chris Song</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>什么值得买</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5EC1680E-F974-4D27-84A5-FA2307574844</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>smzdm</string>
				<key>script</key>
				<string>python smzdm.py</string>
				<key>title</key>
				<string>Show last smzdm items</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD7C4E09-C39D-4D68-8786-24B497B28E41</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>5EC1680E-F974-4D27-84A5-FA2307574844</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>CD7C4E09-C39D-4D68-8786-24B497B28E41</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
